@import "tailwindcss";

@font-face {
    font-family: 'MabryPro';
    src: url('../Fonts/MabryPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Reblinking';
    src: url('../Fonts/reblinking.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.Reblinking {
    font-family: 'Reblinking';
}

body {
    font-family: 'MabryPro';
}